.challenge-item {
  border-radius: 12px;
  padding: 18px;
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  backdrop-filter: blur(5px);
  transition: 0.3s ease;
}

.challenge-item:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px var(--accent-soft);
}
